extends ../layouts/default

block head
  title Welcome to synfac demo

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 Welcome
    p.lead
      | You need to be authenticated in order to use the demo.
      div
        a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
        |  or&nbsp;
        a.btn.btn-warning.btn-lg(href='/login/forgot/') Reset Your Password
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 About the demo
          p This is a very preliminary demo and was just opened so you can have a taste of what we do at synfac.
          a.btn.btn-default.btn-block(href='/about/') Learn More
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Sign Up
          p Please signup in order to start doing cool things with social media.
          a.btn.btn-default.btn-block(href='/signup/') Sign Up
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Contact Us
          p We would really like to hear from you so please don't hesitate!.
          a.btn.btn-default.btn-block(href='/contact/') Learn More
